* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

fieldset {
	width: 300px;
	background-color: #eeeeee;
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 0.35em;
	padding-bottom: 0.625em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	border: 2px groove (internal value);
}

legend {
	background-color: grey;
	color: white;
	padding: 5px 10px;
}

input {
	margin: 5px;
}

textarea {
	width: 17em;
	height: 60px;
}